@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --font-family1: 'Montserrat', sans-serif;
    --font-family2: 'Open Sans', sans-serif;
    --font-size-primary: 2rem;
    --bg-color: #333652;
    --bg-white: #f2f2f2;
    --bg-color-note: #FAD02C;
    --font-color: #E9EAEC;
    --font-600: 600;
    --fsize-primary: 1.15rem;
    --padding-one: 1rem;
}

* {
    box-sizing: border-box;

}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color);
    font-family: var(--font-family1);
    margin: 0;
    
}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f2f2f2; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.add {
    background-color: #478C5C;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #f2f2f2;
    padding: .5rem 1rem;
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    cursor: pointer;
    transition: .2s;
}

.add:hover {
    bottom: 3.5rem;
}

.note {
    margin: 20px;
    height: 400px;
    width: calc(25% - 40px);
    border: 3px;
}

.note .tools {
    display: flex;
    justify-content: flex-end;
    background-color: var(--bg-color-note);
    border-bottom: 1px solid black;
    height: 3rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    font-size: 1.15rem;
    color: #333652;
    cursor: pointer;
    width: 5rem;
}

.note .tools button:hover {
    background-color: #c7a623;
}

label{

    border: none;
    font-size: 1.15rem;
    color: #333652;
    cursor: pointer;
    width: 60px;
    height: 35px;

}
label:hover{ 
    background-color: #c7a623;
}
input {
    display: none;
}

input:checked+.seatButton  {
    background: #6c5a12;
    color: #f2f2f2;
}
.seatButton {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.note .main {
    background-color: #f2f2f2;
    overflow: auto;
    height: 370px;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
    padding: 20px;
    text-align: justify;
}

.note textarea {
    background-color: #f2f2f2;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
    font-family: inherit;
    outline: none;
    border: none;
    height: 370px;
    width: 100%;
    resize: none;
    text-align: justify;
    padding: 20px;
    word-break: break-all;
}

.note .hidden {
    display: none;
}


p {
    margin-top: 0;
    word-break: break-all;
    text-align: justify;
}
/* #addBtn{ 
    display: block;
}
#iconAdd{
    display: none;
} */
@media (max-width: 1390px){
    .note{ 
        width: 45%;
    }
}
@media (max-width: 1200px) {

    body{
        display: flex;
        justify-content: center;
    }
    .note{ 
        width: 65%;
    }

    .button i{ 
        font-size: 1.15rem;

    }
    .note .main{
        font-size: 1.25rem;
    }
    .note textarea{ 
        font-size: 1.25rem;
    }
}
@media (max-width: 890px) {

    body{
        display: flex;
        justify-content: center;
    }
    .note{ 
        width: 100%;
    }
    .note .main{
        font-size: 1.2rem;
    }
    .note textarea{ 
        font-size: 1.2rem;
    }
    .button i{ 
        font-size: 1.15rem;
    }
    /* #iconAdd{
        display: block;
        padding: 20px;
        bottom: 20px;
    }
    #addBtn{ 
        display: none;
    } */

}